* {
  font-family: 'Roboto', Arial, 'Microsoft YaHei New', 'Microsoft Yahei',
    '微软雅黑', 宋体, SimSun, STXihei, '华文细黑', sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
